<div>
    <h2>Edit Movie</h2>
</div>

<div>
    <form action="/movies/<%= @movie.slug %>" method="POST">
        <input type="hidden" id="hidden" name="_method" value="PATCH">

        <label for="title">Title:</label>
        <input id="title" name="title" value="<%= @movie.title %>"><br>

        <label for="director">Director:</label>
        <input id="director" name="director" value="<%= @movie.director %>"><br>

        <label for="genre">Genre:</label>
        <input id="genre" name="genre" value="<%= @movie.genre %>"><br>

        <label for="release_date">Release Date:</label>
        <input type="date" id="release_date" name="release_date" value="<%= @movie.release_date %>"><br>

        <input type="submit" value="Update Movie">
    </form>
</div>