<div>
    <h2>All Movies</h2>
</div>

<div>
    <a href="/movies/new"><button type="submit">Add Movie</button></a>
</div>

<div>
<% if @movies.length > 0 %>
    <table>
        <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Genre</th>
            <th>Release Date</th>
        </tr>
        <% @movies.each do |movie| %>
            <tr>
                <td><a href="/movies/<%= movie.slug %>"><%= movie.title unless !movie.title %></a></td>
                <td><%= movie.director unless !movie.director %></td>
                <td><%= movie.genre unless !movie.genre %></td>
                <% if movie.release_date == "n/a" %>
                    <td>"n/a"</td>
                <% else %>
                    <td><%= movie.release_date.strftime("%-m/%-d/%Y") unless !movie.release_date %></td>
                <% end %>
            </tr>
        <% end %>
    </table>
<% else %>
    <p>There aren't any movies in the database yet - check back later.</p>
<% end %>
</div>