<h2><%= @user.username %>'s reviews:</h2>

<% if @user.reviews.length > 0 %>
    <table>
    <tr>
        <th>Movie</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Link</th>
    </tr>
    <% @user.reviews.each do |review| %>
        <tr>
            <td><%= review.movie.title %></td>
            <td><%= review.movie.genre %></td>
            <td><%= review.rating %></td>
            <td><a href="/reviews/<%= review.id %>">View</a></td>
        </tr>
    <% end %>
</table>
<% else %>
    <p><%= @user.username %> hasn't submitted any reviews yet - check back later.</p>
<% end %>
