<div>
    <h2>Edit a Review</h2>
</div>

<div>
    <form action="/reviews/<%= @review.id %>" method="POST">
        <input type="hidden" id="hidden" name="_method" value="patch">
        <div>
            <h3>Your <%= @review.movie.title %> review:</h3>

            <label for="watch_date">Watch Date:</label>
            <input type="date" id="watch_date" name="review[watch_date]" value="<%= @review.watch_date %>"><br>

            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="review[rating]" step="0.01" min="0" value="<%= @review.rating %>"><br>

            <label for="description">Description:</label>
            <textarea for="description" id="description" name="review[description]"><%= @review.description %></textarea><br>

            <input type="submit" value="Update Review">
        </div>

    </form>
</div>