<h2>All Reviews</h2>

<table>
    <tr>
        <th>User</th>
        <th>Movie</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Watch Date</th>
        <th>Link</th>
    </tr>
    <% Review.all.each do |review| %>
        <tr>
            <td><%= review.user.username %></td>
            <td><%= review.movie.title %></td>
            <td><%= review.movie.genre %></td>
            <td><%= review.rating %></td>
            <td><%= review.watch_date.strftime("%-m/%-d/%Y")%></td>
            <td><a href="/reviews/<%= review.id %>">View</a></td>
        </tr>
    <% end %>
</table>