<div>
    <h2><%= @review.user.username %>'s <%= @review.movie.title %> review</h2>
</div>

<div>
    <% if @review.user == current_user %>
        <a href="/reviews/<%= @review.id %>/edit"><button type="submit">Edit</button></a><br><br>
        <form action="/reviews/<%= @review.id %>" method="POST">
            <input type="hidden" id="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete">
        </form>
    <% end%>
</div>

<div>
    <h3>Created: </h3><p><%= @review.created_at.strftime("%A, &nbsp;%B %e,&nbsp;%Y") %> at <%= @review.updated_at.strftime("%l:%M%p") %><p>
    <h3>Updated: </h3><p><%= @review.updated_at.strftime("%A, &nbsp;%B %e,&nbsp;%Y") %> at <%= @review.updated_at.strftime("%l:%M%p") %></p>
    <h3>Watch Date: </h3><p><%= @review.watch_date.strftime("%A, &nbsp;%B %e,&nbsp;%Y") %></p>
    <h3>Rating: </h3><p><%= @review.rating %></p>
    <h3>Review Description: </h3><p><%= @review.description %></p>
</div>