<div>
    <h2><%= @review.user.username %>'s <%= @review.movie.title %> review</h2>
</div>

<div>
    <% if @review.user == current_user %>
        <a href="/reviews/<%= @review.id %>/edit"><button type="submit">Edit Review</button></a><br>
        <form action="/reviews/<%= @review.id %>" method="POST">
            <input type="hidden" id="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete Review">
        </form>
    <% end%>
</div>

<div>
    <h3>Created: </h3><p><%= @review.created_at.strftime("%A,&nbsp;%B %e,&nbsp;%Y") %> at <%= @review.updated_at.strftime("%l:%M%p") %><p>
    <% unless @review.updated_at != @review.created_at %>
        <h3>Updated: </h3><p><%= @review.updated_at.strftime("%A,&nbsp;%B %e,&nbsp;%Y") %> at <%= @review.updated_at.strftime("%l:%M%p") %></p>
    <% end %>
    <% if @review.watch_date == "n/a" %>
        <h3>Watch Date: </h3><p><%= @review.watch_date %></p>
    <% else %>
        <h3>Watch Date: </h3><p><%= @review.watch_date %></p>
    <% end %>
    <h3>Rating: </h3><p><%= @review.rating %></p>
    <h3>Review Description: </h3><p><%= @review.description %></p>
</div>